@model Inspinia_MVC5_SeedProject.CustomObjects.GenericoUnString
@{
    ViewBag.Title = "Grafana";
}
<br />

    @*<div style="width:5%" class="col">
        <input type="number" id="1" name="1"
               min="0" max="255">
    </div>

    <div style="width:5%" class="col">
        <input type="number" id="2" name="2"
               min="0" max="255">
    </div>


    <div style="width:5%">
        <input type="number" id="3" name="3"
               min="0" max="255">
    </div>
    <div style="width:5%">
        <input type="number" id="4" name="4"
               min="0" max="255">
    </div>*@
@*<div class="input-group">
    <input type="number" placeholder="" class="form-control" /><input type="number" placeholder="" class="form-control" />
    <input type="text" class="">
    <input type="text" class="">
</div>*@


<div class="ibox ">
    <div class="ibox-title">
        <h5>Ip de cualquier system</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a href="#" class="dropdown-item">Config option 1</a>
                </li>
                <li>
                    <a href="#" class="dropdown-item">Config option 2</a>
                </li>
            </ul>
            <a class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">
        <form role="form" class="form-inline">
            <div class="form-group">
                <label for="exampleInputEmail2" class="sr-only">Red 1</label>
                <input type="text" placeholder="Red 1" id="Red1" class="form-control">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword2" class="sr-only">Red 2</label>
                <input type="text" placeholder="Red 2" id="Red2" class="form-control">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword2" class="sr-only">Host 1</label>
                <input type="text" placeholder="Host 1" id="Host1" class="form-control">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword2" class="sr-only">Host 2</label>
                <input type="text" placeholder="Host 2" id="Host2" class="form-control">
            </div>
            
            <a href="" class="btn btn-white" id="getGrafana">Get</a>
        </form>
    </div>
</div>

<div class="modal" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="ibox">
                    <div class="ibox-content">

                        <table id="camaras" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Nodo</th>
                                    @*<th>Nombre</th>
                            <th>Channel Name</th>
                            <th>Ip</th>
                            <th>Usuario</th>
                            <th>Pass</th>
                            <th>Encoder 1</th>
                            <th>Encoder 2</th>*@


                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@*<div class="ibox">
    <div class="ibox-content">
        <table id="camaras" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Nodo</th>
                    <th>Nombre</th>
                    <th>Channel Name</th>
                    <th>Ip</th>
                    <th>Usuario</th>
                    <th>Pass</th>
                    <th>Encoder 1</th>
                    <th>Encoder 2</th>




                </tr>
            </thead>
            <tbody></tbody>
        </table>
     </div>
       
    </div>*@




@section scripts
{
    <script>
        $(document).ready(function () {
            
            //$('#camaras').dataTable();
            //$('#camaras').dataTable().clear();
            var id = 7;
            $("#getGrafana").click(function () {
                $("#myModal").modal();
                $('#camaras').dataTable();
                var id = ($("#Red1").val().concat("-").concat($("#Red2").val()).concat("-").concat($("#Host1").val()).concat("-").concat($("#Host2").val()));
                //table.ajax.reload();
                
                var table = $("#camaras").DataTable(
                {
                    
                    "sScrollX": '100%',
                    //"destroy": true,
                   // destroy : true,
                    //"scrollx": true,
                    "responsive": true,
                   
                    "ajax": {
                        //"url": "/Grafana/GrafanaCamaras/" + id,
                        "url": "/Grafana/GrafanaCamaras/" + "10-30-3-120",
                        "type": "Get",
                        "datatype": "json",
                        "dataSrc": ""
                    },
                   
                    "columns": [
                       {
                           data: "Ip"
                       },
                       
                        

                    ]

                });
                

            });

            //$("#getGrafana").click(function () {
            //    loadData();
            //});
            //function loadData() {
            //    $.ajax({
            //        type: 'GET',
            //        url: "/Grafana/GrafanaCamaras/" + "10-30-3-120",
                    
            //        dataType: 'json',
            //        success: function (data) {
            //            myJsonData = data;
            //            populateDataTable(myJsonData);
            //        },
            //        error: function (e) {
            //            console.log("There was an error with your request...");
            //            console.log("error: " + JSON.stringify(e));
            //        }
                    
            //    });

            //    function populateDataTable(data) {
            //        console.log("populating data table...");
            //        // clear the table before populating it with more data
            //        $("#camaras").DataTable().clear();
                    

            //        // You could also use an ajax property on the data table initialization
            //        for(var objeto in data) {
            //            $('#camaras').dataTable().fnAddData([
            //                //objeto.Ip,
            //              {
            //                  data: objeto.Ip
            //              }
            //            ]);
            //        }
                        
                    
            //    }

            //}

                

            


        });
    </script>
}


