@{
    ViewBag.Title = "Cerradas";
}
<style>
    .dataTable th, .dataTable td {
        /*max-width: 200px;
       min-width: 70px;
        overflow: hidden;

        white-space: nowrap;*/
        text-overflow: ellipsis;
    }

    html, body {
        /*max-width: 100%;*/
        /*overflow-x: scroll;*/
    }

    .table {
        /*overflow:scroll*/
    }
</style>
<h2>Solo cerradas</h2>
<div class="row">

</div>
<div class="ibox">
    <div class="ibox-content">
        <table id="issues" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">

            <thead>
                <tr>
                    <th>Id</th>
                    <th>Cliente</th>
                    <th>Titulo</th>
                    <th>Area</th>
                    <th>Cerró</th>
                    <th>Asignado a:</th>
                    <th>Fecha creado</th>
                    <th>Criticidad</th>
                    <th>Estado</th>




                </tr>
            </thead>
            <tbody></tbody>
        </table>
        </div>
</div>
        

        @section scripts
{
            <script>
                $(document).ready(function () {

                    //var id= idUsuario.toString();
                    //var id = 7;

                    @*var table = $("#tareas").DataTable({
                "scrollX": true,
                responsive :true,
                ajax: {
                    url: "/Issues/tareasPorUsuarioTabla/" + ,

                    dataSrc: ""
                },
                columns: [
                    {
                        data: "data.Id"
                    }




                ]*@
                    $("#issues").DataTable(
                        {
                            "sScrollX": '100%',
                            //"scrollx": true,
                            "responsive": true,
                            "ajax": {
                                "url": "/Issues/TareasCerradas",
                                "type": "GET",
                                "datatype": "json",
                                "dataSrc": ""
                            },
                            "columns": [
                               {
                                   data: "Id",
                                   render: function (data, type, issue) {
                                       return "<a class='data-tarea-id=" + issue.Id + " js-issue' href='/issues/historialissue/" + issue.Id + "'>" + issue.Id + "</a>";
                                   }
                               },
                            {
                                data: "Clientes.Nombre"
                            },
                            {
                                data: "Titulo"
                            },
                            {
                                data: "AreaTecnicos.Nombre"
                            },
                            {
                                data: "CerradaPor.Nombre"
                            },

                            {
                                data: "TecnicoAsignado.Nombre",
                                render: function (data, type, issue) {
                                    if (data == null) {
                                        return "<a class='btn-link js-delete' data-tarea-id=" + issue.Id + "> Asignar tecnico </button>";
                                    } else {
                                        return "<a" + data + "'>" + data + ' ' + "</a>";
                                    }

                                }
                            },
                            {
                                data: "FechaCreadaString"
                            },
                            {
                                data: "CriticidadIssue.Nombre"
                            },
                            {
                                data: "EstadoIssue.Nombre",
                                render: function (data, type, issue) {
                                    if (issue.EstadoIssue.Nombre == "Abierto") {
                                        return "<button class='btn-link js-estado' data-tarea-id=" + issue.Id + "> Abierta </button>";
                                    }
                                    if (issue.EstadoIssue.Nombre == "En proceso") {
                                        return "<button class='btn-link js-estado' data-tarea-id=" + issue.Id + "> En curso </button>";
                                    }
                                    if (issue.EstadoIssue.Nombre == "Finalizado") {
                                        return "<button class='btn-link js-estado' data-tarea-id=" + issue.Id + "> Finalizado </button>";
                                    }


                                }
                            }

                            ]

                        });





                });
            </script>
        }


