@model Inspinia_MVC5_SeedProject.ViewModels.PermisosUsuariosViewModel
@{
    ViewBag.Title = "Administración de usuarios";
}

<div class"" id="listaUsuarios">
   
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group" style="padding-top:3%">

                
                    @*@Html.LabelFor(m => m.Issue.AreaTecnicos)*@
                    @Html.DropDownListFor(m => m.Usuario.Nombre, new SelectList(Model.ApplicationUsers, "Id", "Nombre"),"Seleccionar usuario", new { @class = "form-control area",@id ="userName" })
                    @Html.ValidationMessageFor(m => m.Usuario.Id)
                
            </div>
        </div>
    </div>
    <div class="row" id="selectPermisosUsuario">
        <div class="col-lg-6">
            <div class="form-group" style="padding-top:3%" id="divSelectClientes">


                <label for="selectClientesLabel">Clientes:</label>
                <select multiple class="form-control" id="selectClientes">
                    

                </select>

            </div>
        </div>

        <div class="col-lg-6">
            <div class="form-group" style="padding-top:3%" id="divSelectAreas">


                <label for="selectAreas">Areas:</label>
                <select multiple class="form-control" id="selectAreas">
                   

                </select>

            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" id="guardarPermisos">Guardar permisos</button>

</div>

<div class="" id="nuevosPermisosUsuario">
    @*<h2 id="NombreUsuario"> </h2>*@
    <ul class="list-group" id="listaClientes"></ul>
    <ul class="list-group" id="listaAreas"></ul>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            //$('#nuevosPermisosUsuario').remove();
            $("#userName").change(function () {

                function traerAreasDeUsuario() {
                    $.ajax({
                        type: "GET",
                        url: "/Admin/traerAreas/" + $("#userName").val(),
                        success: function (data) {

                            $('#selectAreas').remove();
                            $('#divSelectAreas').append('<select multiple class="form-control" id="selectAreas"></select>');


                            $.each(data.Areas, function (key,value) {
                                $("#selectAreas").append('<option value=' + value.Id + '>' + value.Nombre + '</option>')
                            });
                            

                        },
                        error: function (error) {
                            alert = "Algo salió mal, avisale a Santiago :("
                        }
                    })
                }

                function traerClientesDeUsuario() {
                    $.ajax({
                        type: "GET",
                        url: "/Admin/traerClientes/" + $("#userName").val(),
                        success: function (data) {
                        
                            $('#selectClientes').remove();
                            $('#divSelectClientes').append('<select multiple class="form-control" id="selectClientes"></select>');


                            $.each(data.Clientes, function (key, value) {
                                $("#selectClientes").append('<option value='+value.Id+'>' + value.Nombre + '</option>')
                            });


                        },
                        error: function (error) {
                            alert = "Algo salió mal, avisale a Santiago :("
                        }
                    })
                }

                traerAreasDeUsuario();
                traerClientesDeUsuario();




            });

            $("#guardarPermisos").click(function () {

                

                var dto = new Object();
                dto.ListaAreas = [];
                dto.ListaClientes = [];

                dto.ListaAreas =$("#selectAreas").val();
                dto.UserId = $("#userName").val()
                dto.ListaClientes = $("#selectClientes").val();

                

                //if (!(dto.UserId.val != ("") && (dto.ListaAreas.length < 1 && dto.ListaClientes.length != 0))) {
                if (dto.UserId.val != ("") && ((dto.ListaAreas.length > 0 && (dto.ListaClientes.length != null)))) {
                    if (dto.ListaClientes.length > 0) {

                        $.ajax({
                            url: "/Admin/ModificarUsuario",
                            type: "Post",
                            contentType: "application/json",
                            dataType: "JSON",
                            data: JSON.stringify(dto),


                        })
                                     .done(function (data) {
                                         toastr.success("Usuario modificado :)");
                                         $("#selectAreas").val("");
                                         $("#userName").val("")
                                         $("#selectClientes").val("");
                                         dto.ListaAreas = [];
                                         dto.ListaClientes = [];
                                         $("#nuevosPermisosUsuario").append('<h3>El usuario ' + data.NombreUsuario + ' ha sido modificado con los siguientes permisos: </h3>');


                                         //$.each(data.Clientes, function (key, value) {
                                         //    $("#listaClientes").append('<li class="list-group-item">' + value.Nombre + '</li>')
                                         //});
                                         //window.location.href = "/issues/IndexIssues";
                                         //validator.resetForm();
                                     })
                                    .fail(function () {
                                        toastr.error("Algo falló, enviale captura de pantalla a Santiago por favor.");

                                    })


                    } else {
                        toastr.error("Por favor, validar los permisos indicados para el usuario.");
                    }
                    
                } else {
                    toastr.error("Por favor, validar los permisos indicados para el usuario.");

                }

                
            });
        });
    </script>
}